# Local SQLite (dev)
DATABASE_URL="file:./dev.db"
DIRECT_URL="file:./dev.db"


# In production (Vercel), set DATABASE_URL to your hosted Postgres/Neon URL
# DATABASE_URL="postgresql://user:pass@host:5432/dbname"
# DIRECT_URL="postgresql://user:pass@host:5432/dbname"

JWT_SECRET="seguro_hash"
JWT_EXPIRES_IN="1d"
PORT=3000
FRONTEND_URL="http://localhost:8080"